@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  overflow-x: hidden;
}
*:root {
  --dark_blue: #02557d;
  --orange: #ffb749;
  --orange-hover: rgb(243, 160, 83);
  --light-gray: #f9f9fb;
  --dark-gray: rgb(187, 185, 185);
  --gray: #efefef;
  --box-shadow: 5px 5px 5px rgb(83, 83, 82);
  --box-shadow-hover: 10px 10px 10px rgb(58, 56, 56);
}
.card {
  border-radius: 10px !important;
}
/* [id] {
  scroll-margin-top: 40px;
} */
section {
  height: 100vh;
  padding: 40px 10%;
}
section .section-header {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
section .section-header::before {
  content: "";
  display: block;
  background-color: var(--orange);
  width: 5px;
  height: 5px;

  position: absolute;
  top: 15px;

  left: -20px;

  border-radius: 50%;
  padding: 5px;
  margin-right: 15px;
}
section .section-header h2 {
  font-size: 1.6em;
}
section .section-header h2::after {
  content: "";
  display: block;
  background-color: var(--orange);
  width: 30%;
  height: 5px;
  margin-top: 10px;
}
section .section-header p {
  font-size: 2em;
  font-weight: bold;
}
.custom_btn {
  border: 1.5px solid rgb(252, 252, 252);
  border-radius: 28px;
  padding: 10px 40px;
  background-color: var(--orange);
  color: #f1f1f1;
  text-decoration: none;
}
.custom_btn:hover {
  background-color: var(--orange-hover);
  color: white;
}
.btn-outline {
  background-color: transparent;
  border: 1px solid var(--orange);
  color: var(--orange);
}
.color_dark_blue {
  color: var(--dark_blue);
}

.center {
  margin: 40px;
  display: flex;
  justify-content: center;
}
.title_section {
}
.logo {
  height: 60;
  width: 90px;
}
.logo img {
  height: 100%;
  width: 100%;
}
/* Home */

.social_header {
  display: flex;
  justify-content: space-between;
  color: #f1f1f1;
  background-color: var(--dark_blue);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
}
.social_header div span i {
  padding: 0 7px;
}
.social_header nav a i {
  padding: 0 10px;
  color: white;
}

.home__hero {
  height: calc(100vh - 40px);

  background-image: url("../img/IMAGEN HERO.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.overlay {
  height: 100%;
  background: rgba(2, 85, 125, 0.4);
}
.hero_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
  height: 80px;
}

.hero_header nav#navbar ul#menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.hero_header nav#navbar ul#menu li {
}
.hero_header nav#navbar ul#menu li a {
  text-decoration: none;
  padding: 0 5px;
  color: white;
}

.home__hero div.grid_container {
  padding: 40px 10%;
}
.text-container {
  color: white;
}
.text-container h1 {
  font-size: 1.5em;
}
.text-container h1::after {
  content: "";
  display: block;
  background-color: var(--orange);
  width: 30%;
  height: 5px;
  margin-top: 10px;
}
.text-container p {
  font-weight: bold;
  font-size: 2.7em;
}
.form-container {
  display: block;
  background-color: white;

  text-align: center;
  padding: 0px;

  max-width: 400px;
  border-radius: 15px;
}
.form-container h2 {
  border-radius: 15px 15px 0 0;
  background-color: var(--dark_blue);
  padding: 20px;
  color: white;
  font-size: 1.3em;
  width: 100%;

  border-bottom: 5px solid var(--orange);
}

.form {
  align-items: center;
  position: relative;
  padding: 15px;
}

.form input {
  margin-top: 10px;

  background-color: var(--dark-gray);
  border-radius: 28px;
  border: none;
}
.form input:focus {
  background-color: var(--gray);
}
.form div.form-group {
  padding-top: 10px;
  display: flex;
  gap: 10px;
}
.form > textarea {
  margin-top: 10px;
  background-color: var(--dark-gray);
  border-radius: 15px;
  max-height: 200px;
  border: none;
}
.form > textarea:focus {
  background-color: var(--gray);
}
/* section popular */
#popular {
  min-height: 100vh;
  height: auto;
}

.cards {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 220px;
  box-shadow: 5px 5px 10px var(--gray);
}
.card .card-img-top {
  border-bottom: 6px solid var(--orange);
}
.card-body {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.card-title {
  font-size: 0.9em;
  font-weight: bold;
}
/* About US */
#about-us {
  height: auto;
  padding: 0;
  /*min-height: 100vh;*/
  background-color: var(--dark_blue);
  color: white;
  position: relative;
}
#about-us .grid {
  padding: 40px 10%;
  height: auto;
}
.image {
  height: 100%;
  display: flex;
  align-items: center;
  width: 100%;
  /*height: 400px;*/
}
.image img {
  border-radius: 10px;
  box-shadow: 0px 4px 4px 4px #f1f1f1;
  width: 100%;
  max-width: 600px;
  /*height:100%;*/
}

.benefits-container {
  min-height: 400px;
  height: auto;

  background: url("../img/BACKGROUND BENEFITS.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.benefits-container .overlay {
  background-color: rgba(33, 32, 36, 0.7);
  min-height: 400px;
  height: auto;
}
.benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.benefit .icon {
  background-color: white;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
.benefit .icon img {
  padding: 15px;

  height: 100%;
  width: 100%;
}

.benefit h4 {
  color: white;
  font-size: 1.3em;
}
/*study-careers */
#study-careers {
  height: auto;
  min-height: 100vh;
}
#study-careers .row .overlay {
  border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.5);
}
.careers {
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 15px;
  border-radius: 7px !important;
  width: 100%;
  height: 150px;

  position: relative;
}

#careers-1 {
  background-image: url("../img/IMAGE  CATEGORY ADMINISTRATION.jpg");
  height: 320px;
  width: 100%;
}
#careers-2 {
  background-image: url("../img/IMAGE\ \ CATEGORY\ ACCOUNTING.jpg");
  height: 320px;
}
#careers-3 {
  background-image: url("../img/IMAGE\ \ CATEGORY\ ARCHITECTURE.jpg");
}

#careers-4 {
  background-image: url("../img/IMAGE\ \ CATEGORY\ BIOLOGY.jpg");
}
#careers-5 {
  background-image: url("../img/IMAGE\ \ CATEGORY\ MATHEMATICS.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
#careers-6 {
  background-image: url("../img/IMAGE\ \ CATEGORY\ PROGRAMMING.jpg");
}
.careers .content {
  position: absolute;
  bottom: 0;
  padding: 20px;
}
.careers .content h4 {
  color: white;
  font-size: 1.3em;
}
/* Team */
#team {
  height: auto;
  min-height: 500px;
  background-color: var(--gray);
}
#team .cards {
  display: flex;
  justify-content: center;
}
#team .card {
  width: 220px;
}
#team .cards .card .card-img-top {
  height: 100px;
}
#team .cards .card-body figure {
  position: absolute;
  top: 35px;
}
#team .cards .card-body figure img {
  border-radius: 50%;
  width: 120px;

  border: 5px solid white;
}
#team .cards .card-body {
  height: 230px;
}
#team .cards .card-body .card-title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--dark_blue);
}
#team .cards .card-body .card-subtitle {
  color: var(--orange);
  font-size: 1.3em;
  padding: 5px;
}
/* testimonials */
#testimonials {
  min-height: 100vh;
  height: auto;
  color: white;
  background-color: var(--light-gray);
}
#testimonials .row {
  background-image: url("../img/IMAGE TESTIMONIALS.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  min-height: 500px;
  height: auto;
  max-width: 800px;
  position: relative;
}
#testimonials .row::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(4, 8, 54, 0.5);
  z-index: 20000;
  position: absolute;
  top: 0;
}
#testimonials .text {
  z-index: 500000;
}
#testimonials .text h2 {
  font-size: 0.7em;
  text-transform: uppercase;
}
#testimonials .text p {
  font-size: 2em;
  text-transform: uppercase;
}
.card-testimonial {
  height: 350px;

  padding: 0;
  margin: 0;
}
.card-testimonial .btn-play {
  z-index: 500000;
  position: absolute;
  height: 100%;
  width: 100%;
  border: none;
}
.card-testimonial .btn-play span {
  font-size: 3em;
  border-radius: 50%;
  padding: 20px 30px;
  background: rgb(121, 7, 7);
  color: #eee;
  text-align: center;
  cursor: pointer;
}

.card-testimonial p {
  background-color: rgb(240, 237, 238);
  color: var(--orange);
  font-size: 0.9em;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 7px;
  z-index: 50000000;
  position: relative;
  top: -20px;
  text-transform: uppercase;
}
.card-testimonial ul {
  list-style: none;
  width: inherit;
  padding: 0;
  margin: 0;
}

ul#slider li {
  display: block;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s;
}
ul#slider li::after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.09);
  z-index: 20000;
  position: absolute;
  top: 0;
}
ul#slider li:first-child {
  opacity: 1;
}
ul#slider li:target {
  opacity: 1;
}

ul#menu-slider {
  /* background-color: rgba(0, 0, 0, 0.5); */
  margin-top: 20px;
  text-align: center;
  display: block;
  z-index: 50000000;
  position: relative;
  top: -65px;
  padding: 0;
  margin: 0;
}
ul#menu-slider li {
  display: inline-block;
}
ul#menu-slider li a {
  display: block;
  background-color: white;
  padding: 5px;
  width: 5px;
  border-radius: 50%;
}

/* footer */

footer {
  height: auto;
  background-color: var(--dark_blue);
  min-height: 500px;
  padding: 40px 10%;
}
footer .licencia {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .licencia .logo {
  height: 40px;
  width: 120px;
}
footer .licencia .logo img {
  height: 100%;
  width: 100%;
}
footer h3 {
  color: var(--orange);
  font-weight: 400;
  font-size: 1.5em;
  margin-bottom: 20px;
}
footer ul {
  padding: 0;
  list-style: none;
}
footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
footer a:hover {
  color: var(--orange-hover);
}
footer .social ul li {
  display: inline-block;
  margin: 0 10px;
}
footer i.fa {
  padding: 5px;
  font-size: 20px;
  color: #fff;
  transition: all 0.3s;
}
footer i.fa:hover {
  color: #eee;
}
footer p {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}
footer .logo {
  width: 120px;
  height: 80px;
}
footer hr {
  color: #fff;
}
footer form {
  min-width: 200px;
  max-width: 350px;
  width: 100%;

  display: flex;
  border-radius: 28px;
  background-color: #fff;

  width: auto;
}

footer form input {
  width: 50%;
  border-radius: 28px;
  padding: 10px 10px;
  border: none;
}
footer form input:focus {
  outline: none;
}
