@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
*:root {
  --dark_blue: #02557d;
  --orange: #ffb749;
  --orange-hover: rgb(243, 160, 83);
  --light-gray: #f9f9fb;
  --dark-gray: rgb(187, 185, 185);
  --gray: #efefef;
  --box-shadow: 5px 5px 5px rgb(83, 83, 82);
  --box-shadow-hover: 10px 10px 10px rgb(58, 56, 56);
}
section {
  height: 100vh;
  padding: 40px 10%;
}
section .section-header {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
section .section-header::before {
  content: "";
  display: block;
  background-color: var(--orange);
  width: 5px;
  height: 5px;

  position: absolute;
  top: 15px;

  left: -20px;

  border-radius: 50%;
  padding: 5px;
  margin-right: 15px;
}
section .section-header h2 {
  font-size: 1.6em;
}
section .section-header h2::after {
  content: "";
  display: block;
  background-color: var(--orange);
  width: 30%;
  height: 5px;
  margin-top: 10px;
}
section .section-header p {
  font-size: 2em;
  font-weight: bold;
}
.custom_btn {
  border: none;
  border-radius: 28px;
  padding: 10px 30px;
  background-color: var(--orange);
  color: #f1f1f1;
  text-decoration: none;
}
.custom_btn:hover {
  background-color: var(--orange-hover);
}
.title_section {
}
/* Home */
.home__header {
  color: #f1f1f1;
  background-color: rgb(45, 37, 148);
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
}
.home__header div span {
  padding: 10px;
}
.home__hero {
  /* background: #1cc9c9 url("../img/IMAGEN HERO.jpg") repeat-x 0 0; */
  /* background-image: url("../img/IMAGEN HERO.jpg"), linear-gradient(red, blue); */
  background-image: url("../img/IMAGEN HERO.jpg");
  height: calc(100vh - 40px);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10%;
}
.hero_header .logo {
  height: inherit;
  width: 126px;
}
.hero_header .logo img {
  height: 100%;
  width: 100%;
}
.hero_header nav.navbar ul#menu {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 25px;

  padding-top: 30px;
}
.hero_header nav.navbar ul#menu a {
  text-decoration: none;
  padding: 0 10px;
  color: white;
}

.home__hero div.grid_container {
  padding: 40px 10%;
}
.text-container {
  color: white;
}
.text-container h1 {
  font-size: 1.5em;
}
.text-container h1::after {
  content: "";
  display: block;
  background-color: var(--orange);
  width: 30%;
  height: 5px;
  margin-top: 10px;
}
.text-container p {
  font-weight: bold;
  font-size: 2.7em;
}
.form-container {
  background-color: white;

  text-align: center;
  padding: 0px;

  max-width: 400px;

  border-radius: 15px;
}
.form-container h2 {
  border-radius: 15px 15px 0 0;
  background-color: var(--dark_blue);
  padding: 20px;
  color: white;
  font-size: 1.3em;

  border-bottom: 5px solid var(--orange);
}

.form {
  padding: 10px;
}
.form input {
  margin-top: 10px;

  background-color: var(--dark-gray);
  border-radius: 28px;
  border: none;
}
.form input:focus {
  outline: none;
  background-color: var(--gray);
}
.form div.form-group {
  display: flex;
  gap: 10px;
}
.fom textarea {
  width: 100%;
}
/* section popular */
.cards {
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: center;
}
.custom_card {
  border-radius: 15px;
}
/* About US */
#about-us {
  background-color: var(--dark_blue);
}
.benefits-container {
  /* height: 250px; */

  background-image: url("../img/BACKGROUND BENEFITS.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 30px;
}
.benefit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.benefit .icon {
  background-color: white;
  padding: 15px;
  border-radius: 50%;
  height: 70px;
  width: 70px;
}
.benefit .icon img {
  height: 100%;
  width: 100%;
}

.benefit h4 {
  color: white;
  font-size: 1em;
}

/* Team */
#team {
  height: 500px;
  background-color: var(--gray);
}

/* testimonial */
#testimonials {
  height: 600px;
  background-color: var(--light-gray);

  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  color: white;
  padding: 100px 40px;
  background-image: url("../img/IMAGE TESTIMONIALS.jpg");
}
/* footer */

footer {
  background-color: var(--dark_blue);
  height: 500px;
}
footer .licencia {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer .licencia .logo {
  height: 40px;
  width: 120px;
}
footer .licencia .logo img {
  height: 100%;
  width: 100%;
}
